/public/editor/fonts/win/*.ttf
/public/editor/fonts/win/*.ttc
.env
/storage/logs/*.log
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/designs/*
!/storage/designs/.gitkeep
/storage/pdf/*
!/storage/pdf/.gitkeep
/vendor/
composer.lock
